/* Terminal Interface Styles */

#terminal-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    display: none;
    overflow: hidden;
}

.xterm-viewport::-webkit-scrollbar {
    width: 10px;
}

.xterm-viewport::-webkit-scrollbar-track {
    background: #000;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}
